.factBox {
  background-color: #f4f6ff;
  text-align: center;
  padding: 20px;
  border-radius: 32px 32px 32px 32px;
  -moz-border-radius: 32px 32px 32px 32px;
  -webkit-border-radius: 32px 32px 32px 32px;
  -webkit-box-shadow: 1px 2px 9px 0px rgba(186, 186, 186, 1);
  -moz-box-shadow: 1px 2px 9px 0px rgba(186, 186, 186, 1);
  box-shadow: 1px 2px 9px 0px rgba(186, 186, 186, 1);
}

.factBox__headline {
  text-align: center;
  padding-top: 10px;
  display: flex;
  color: #325879;
  font-size: 42px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.factBox__updatedTime {
  font-size: 15px;
  font-weight: lighter;
  font-style: italic;
  color: #525252;
}

.factBox__cases {
  padding-bottom: 30px;
}

.cases__data {
  margin-top: 22px;
  color: #f8615a;
  font-weight: bolder;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cases {
  color: #525252;
  margin-top: -5px;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.factBox__recovered {
  padding-bottom: 30px;
}

.recovered__data {
  padding-top: 15px;
  color: #2eb872;
  font-weight: bolder;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.recovered {
  color: #525252;
  margin-top: -5px;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.factBox__deaths {
  padding-bottom: 30px;
}

.deaths__data {
  color: #f8bd7f;
  font-weight: bolder;
  padding-top: 20px;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.deaths {
  color: #525252;
  margin-top: -5px;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.factBox__active {
  padding-bottom: 30px;
}

.active__data {
  color: #f1c40e;
  padding-top: 20px;
  font-weight: bolder;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.active {
  color: #525252;
  margin-top: -5px;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.factBox__critical {
  padding-bottom: 30px;
}

.critical__data {
  color: #00adb5;
  font-weight: bolder;
  padding-top: 20px;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.critical {
  color: #525252;
  margin-top: -5px;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*PULSE ANIMATION*/
.pulse {
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #f81212;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(241, 12, 12, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(253, 53, 17, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(250, 16, 16, 0.4);
    box-shadow: 0 0 0 0 rgba(243, 16, 16, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(241, 22, 22, 0);
    box-shadow: 0 0 0 10px rgba(235, 8, 8, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(231, 32, 25, 0);
    box-shadow: 0 0 0 0 rgba(252, 4, 4, 0);
  }
}
