.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-top: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border-top: 10px solid rgba(41, 190, 54, 0.5);
}

.deaths {
  border-top: 10px solid rgba(189, 40, 40, 0.575);
}
