.info {
  margin: 20px;
  border-radius: 12px;
  color: #162447;
  background-color: #f4f6ff;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

.info__headline {
  display: flex;
  font-size: 25px;
  margin-bottom: 80px;
  align-items: center;
  justify-content: center;
}

.info__detail {
  font-size: 18px;
  line-height: 50px;
  margin: 30px;
  margin-top: 30px;
}

.intro__img {
  width: 35%;
  float: left;
}

.virus__images {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
}

.covid__img {
  float: right;
  width: 35%;
  margin-top: -80px;
}

.symp__img {
  float: left;
  width: 25%;
  height: 30%;
  margin-top: -50px;
}

.ill__img {
  float: right;
  width: 52%;
  height: 50%;
  margin-top: -50px;
}

.question {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.spread__img {
  float: left;
  width: 40%;
  height: 50%;
  /* margin-top: -px; */
}
