.map {
  height: 700px;

  /* overflow-y: hidden; */
}

.map .leaflet-container {
  height: 830px;
}

.info-flag img {
  width: 100px;
  border-radius: 50px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #fafafa;
}

.info-container {
  width: 150px;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-confirmed,
.info-recovered,
.info-deaths,
.info-active,
.info-critical {
  font-size: 15px;
  color: #ece8d9;
  margin-top: 5px;
}

span {
  font-weight: bold;
  margin-left: 5px;
}
