* {
  margin: 0;
}

/*#545B60*/

body {
  background-color: #ebf0f6;
}

.app {
  display: flex;
  padding: 20px;
}

.app__left {
  flex: 0.1;
}

.app__right {
  flex: 0.9;
  padding-left: 30px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
