#menu-toggle:checked + #menu {
  display: block;
}

.twitter__link {
  padding: 3px;
}

.linkedin__link {
  padding: 3px;
  font-size: large;
  background-color: rgb(255, 254, 170);
}

.linkedin__link:hover {
  background-color: lightyellow;
}

.linkedin__link > .linkedin__text {
  padding-left: 5px;
}
