.table__country {
  margin-top: 20px;
  overflow: scroll;
  overflow-x: hidden;
  height: 400px;
  color: #292a2c;
}

.table__country tr {
  display: flex;
  justify-content: space-between;
}

.table__country td {
  padding: 0.5rem;
}

.table__country > tr:nth-of-type(odd) {
  background-color: #fbeb9f;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar {
  border: 7px solid #d6e0f0;
  box-shadow: inset 0 0 2.5px 2px #d6e0f0;
}

::-webkit-scrollbar-thumb {
  background: #b3bbbb;
  border-radius: 1px;
  width: 3px;
}
